.hero_bg {
  background-color: #f4f4f4;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

.img img {
  height: 100%;
}

.text_group {
  padding: 2rem;
}

.text_group h1 {
  font-size: 60px;
}

.text_group h3 {
  font-size: 30px;
}
.text_group p {
  padding-block: 1rem;
}

.p_0 {
  padding: 0;
}
