.wrapper {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
  overflow: hidden;
}

.imgHalf {
  max-width: 100px;
}

.imgFull {
  width: 100%;
}

.imgWrapper img {
  max-height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  max-width: 60%;
}

.category {
  display: flex;
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 0.8rem;
}

.name {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.name span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
}

.rating {
  display: flex;
}

.price {
  display: flex;
  font-weight: 600;
  font-size: 1.1rem;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inactivePrice {
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 1rem;
  text-decoration: line-through;
}
