

.navbar {
    background-color: white;
    position: fixed;
    width: 85%;
    list-style: none;
}
.logo{
    margin-right: 2rem ;
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem 2rem;
}

 .dflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
 }   

.navlinks_left{
    margin: .5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navlinks_right{
    
   /*  margin: .5rem 4rem; */
    text-decoration: none;
    display: flex;
    align-items: center;

}



.links{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.links:hover{
    cursor: pointer;
    color: rgba(250, 55, 21, 0.734);
}

.btn_bag{
  margin-left: 2rem;
  padding: .6rem;
  border-style: none;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.087);
  border-radius: 50%;
  color: black;
  background-color: transparent;
  pointer-events: painted;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.bi_bag{
  width: 1.5rem;
  height: 1.5rem;
}
.bi_bag:hover{
  color: rgba(250, 55, 21, 0.734);
  width: 1.5rem;
  height: 1.5rem;
}


/* Search Button */

.btn_search{
  padding: .5rem;
  border-style: none;
  font-size: 10px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.087);
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.bi_search{
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(29, 29, 29);
  }

.bi_search:hover{
  color: rgba(250, 55, 21, 0.734);
  width: 1.5rem;
  height: 1.5rem;
}

.input_search{
  margin-right: 1rem;
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: white;
  padding-right: 40px;
  color:rgb(0, 0, 0);
  display: flex;
  align-items: center;
 }

.input_search::placeholder{
  color:rgba(0, 0, 0, 0.5);
  font-size: .7rem;
  letter-spacing: 2px;
  font-weight: 400;
    
}


.btn_search:focus ~ .input_search{
  width: 200px;
  height: 3rem;
  font-size: .8rem;
  font-weight: 500;
  border-radius: 50px;
  background-color: rgba(199, 199, 199, 0.045);
  border-bottom: 1px solid rgba(0, 0, 0, 0.236);
  transition: all 500ms cubic-bezier(0.110, 0.35, 2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.input_search:focus {
  font-display:inherit ;
  font-size: .8rem;
  height: 3rem;
  font-weight: 500;
  width: 200px;
  border: radius 0px;
  background-color: rgba(199, 199, 199, 0.045);
  border-bottom: 1px solid rgba(0, 0, 0, 0.706);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.025);
}

/*  Search Button end */