.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid {
  max-width: 100%;
  display: grid;
  gap: 1.3rem;
}

.col1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.col2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.col3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.colOverride1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.colOverride2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.colOverride3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gridItem {
  max-width: 100%;
}

.title {
  display: flex;
  width: 100%;
  padding-block: 1rem;
  position: relative;
}

.titlePagination {
  position: absolute;
  right: 0px;
}
