
.flex-row{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.gridContainer{
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10rem;
    justify-content: space-around;
    align-items: center;
}
.Fifty{
    width: 10rem;
}
.FiftyContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}


.item2{

}