.dflex {
  display: flex;
}
.dblock {
  display: block;
}
.right_wrapper {
  max-width: 40rem;
  padding-inline: 2rem;
}
.mb_1 {
  margin-bottom: 1rem;
}
.mb_2 {
  margin-bottom: 2rem;
}
.mt_05 {
  margin-top: 0.5rem;
}
.mr_1 {
  margin-right: 1rem;
}
.mr_2 {
  margin-right: 2rem;
}

.p_0 {
  padding: 0;
}

.mt1_p0 {
  margin-top: 1rem;
  padding: 0;
}

.img_container {
  width: 100%;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

/* -- QTY -- */
.btn_qty {
  background: transparent;
  border: 1px solid var(--dark);
  height: 3rem;
  width: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}
.btn_qty:hover {
  background-color: var(--primary);
  color: #fff;
}
.qty_nr {
  border-block: 1px solid var(--dark);
  height: 3rem;
  width: 2.5rem;
  text-align: center;
  padding-top: 0.7rem;
}

/* -- QTY END -- */

/* -- SIZE -- */
.size {
  margin-left: 0.9rem;
  border: 1px solid var(--dark);
  min-width: 2.5rem;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.2rem;
}
.size:hover {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}
.sizes_wrapper p {
  margin-top: 0.2rem;
}
/* -- SIZE END -- */

/* -- OPTION -- */
.select {
  padding: 0.5rem;
  cursor: pointer;
}
.select option {
  text-transform: capitalize;
}
.select:focus {
  border: 1px solid var(--dark);
}
/* -- OPTION END -- */

/* -- SOCIAL LINKS -- */

.link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--light-gray);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.link:hover {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}

/* -- SOCIAL LINKS END -- */
